
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="javascript:void(0)">用户管理</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">代理人查询</a>
                    </li>
                </ul>
            </div>

          

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">

                        <div class="box-header well">
                            <h2><i class="glyphicon glyphicon-info-sign"></i> 代理人列表</h2>
                        </div>

                        <div class="box-content ">
                            
                            <div style="padding-bottom:20px;" class="clearfix">
                                <div style="float: left;line-height: 38px;">
                                    <select name="" id="" style="font-size:20px;" ng-model="type">
                                        <option value="name">名字</option>
                                        <option value="phone">手机</option>
                                        <option value="id">userID</option>
                                        <option value="ip">IP</option>
                                        <option value="shengfenzheng">身份证</option>
                                        <option value="promotecode">推荐人ID</option>
                                    </select>
                                </div>
                                <div style="float: left;">
                                    <input type="text" style="line-height: 31px;width: 200px;padding-left: 8px;" placeholder="请输入查询条件" ng-model="queryStr">    
                                    <a class="btn btn-success" href="javascript:void(0)" ng-click="query()">
                                        <i class="glyphicon glyphicon-search icon-white" ></i>
                                        查询
                                    </a>
                                </div>
                            </div>




                            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                                <thead>
                                    <tr>
                                        <th>UID</th>
                                        <th>姓名</th>
                                        <th>手机号</th>
                                        <th>身份证号</th>
                                        <th>城市</th>
                                        <th>推荐人ID</th>
                                        <th>状态</th> 
                                        <th>IP</th>
                                        <th>Agent</th>
                                        <th>是否作弊</th>
                                    </tr>
                                </thead>

                                <tbody class="updateUser">
                                    
                                    <tr ng-repeat="user in users" ng-class="{true:'dangerous'}[user.spam==1]" >
                                        <td>{{user.id}}</td>
                                        <td><input type="text" ng-model="user.name"  ng-change="isChange()"  ng-blur="updateName(user.id,user.name)"></td>
                                        <td>{{user.phonenumber}}</td>
                                        <td>{{user.shengfenzheng}}</td>
                                        <td>{{user.phone_city}}</td>
                                        <td>{{user.promotecode}}</td>
                                        <td>{{user.status}}</td>
                                        <td>{{user.clientip}}</td>
                                        <td>{{user.clientagent}}</td>
                                        <td>{{user.spam}}</td>
                                      <!--   <td>
                                            <a class="btn btn-success" href="javascript:void(0)" ng-click="beizhu(user.userid)">
                                                <i class="glyphicon glyphicon-edit icon-white" ></i>
                                                备注
                                            </a>
                                        </td> -->
                                    </tr>
                               
                                
                                </tbody>
                            </table>
                            
                             <!-- <div>共 <i class="yellow">{{totalCount}}</i> 条</div> -->

                            <!-- <div class="center-block">
                                <div class="dataTables_paginate paging_bootstrap pagination">
                                    <ul class="pagination">
                                        <li class="prev disabled"><a href="#">← Previous</a></li>
                                        <li class="active"><a href="#">1</a></li><li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li><li><a href="#">4</a></li>
                                        <li class="next"><a href="#">Next → </a></li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>

                    </div>
                </div>
            </div>
<script>



    $('.genjin').mouseenter(function(a) {
        var id = a.toElement.children[0].id
        // console.log(id) 
        $('#'+id).addClass('genjin-icon')
    })

     $('.genjin').mouseleave(function(a) {
        // console.log(a)
        var id = a.target.children[0].id
        // console.log(id)
        $('#'+id).removeClass('genjin-icon')
    })
</script>
       
               
                
            
    

