            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="#/genJinZhong">订单中心</a>
                    </li>
                    <li>
                        <a href="#/genJinZhong">跟进中</a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a data-toggle="tooltip" title="$34 new sales." class="well top-block" href="#/xinZengDingDan">
                        <i class="glyphicon glyphicon-file yellow"></i>

                        <div>新增订单</div>
                        <!-- <div>$13320</div> -->
                        <span class="notification yellow">+</span>
                    </a>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a data-toggle="tooltip" title="$34 new sales." class="well top-block" href="javascript:void(0)" ng-click="copyOrder()">
                        <i class="glyphicon glyphicon-repeat green"></i>

                        <div>复制订单</div>
                        <!-- <div>$13320</div> -->
                        <span class="notification green">+</span>
                    </a>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a data-toggle="tooltip" title="$34 new sales." class="well top-block" href="javascript:void(0)" ng-click="delOrder()">
                        <i class="glyphicon glyphicon-minus red"></i>
                        <div>删除订单</div>
                        <!-- <div>$13320</div> -->
                        <span class="notification red">-</span>
                    </a>
                </div>
            </div>



            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well">
                            <h2><i class="glyphicon glyphicon-info-sign"></i> 跟进中订单列表</h2>

                            <div class="box-icon">
                                <a href="javascript:void(0)" class="btn btn-setting btn-round btn-default"><i
                                        class="glyphicon glyphicon-cog"></i></a>
                                <a href="javascript:void(0)" class="btn btn-minimize btn-round btn-default"><i
                                        class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="javascript:void(0)" class="btn btn-close btn-round btn-default"><i
                                        class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content ">

                            <div class="row" style="margin: 10px 0;">
                                <div class="col-md-6">
                                    <label style="width:80px" for="">代理人</label>
                                    <input type="text" style="line-height: 31px;width: 200px;padding-left: 8px;" placeholder="请输入代理人姓名" ng-model="query_agent_name">
                                </div>

                                <div class="col-md-6">
                                    <label style="width:80px" for="">被保险人</label>
                                    <input type="text" style="line-height: 31px;width: 200px;padding-left: 8px;" placeholder="请输入被保险人姓名" ng-model="query_customer_name">
                                </div>
                            </div>

                            <div class="row" style="margin: 10px 0;">
                                <div class="col-md-6">
                                    <label style="width:80px" for="">创建时间</label>
                                    <input id="chuangjian_startTime" style="padding-left:8px;line-height: 31px;width: 200px;" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"  placeholder="请选择起始日期" onchange="compareCJ()">
                                    -
                                    <input id="chuangjian_endTime" style="padding-left:8px;line-height: 31px;width: 200px;" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" placeholder="请选择截止日期" onchange="compareCJ()">
                                </div>

                                <div class="col-md-6">
                                    <label style="width:80px" for="">最新状态</label>
                                      <button class="btn btn-default dropdown-toggle" style="width:200px;text-align:left;" type="button" id="status" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        请选择最新状态 <span class="caret" style="float:right;margin-top:9px;"></span>
                                      </button>
                                      <ul class="dropdown-menu nodes" aria-labelledby="dropdownMenu1">
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">订单初始化</a></li>
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">已预约面签</a></li>
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">材料有误</a></li>
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">材料已提交保险公司</a></li>
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">通知体检</a></li>
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">拒保,订单取消</a></li>
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">调整保费</a></li>
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">拒绝,订单取消</a></li>
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">同意调整保费</a></li>
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">划款失败</a></li>
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">划款成功</a></li>
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">保险公司下发合同</a></li>
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">到时限后弃保</a></li>
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">合同已转交</a></li>
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">进入犹豫期</a></li>
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">回执已提交保险公司</a></li>
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">回访失败</a></li>
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">回访成功</a></li>
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">佣金已结</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">全部（不包括删除的订单）</a></li>
                                        <li><a onclick="setStatus(this.text)" href="javascript:void(0)">全部（包括删除的订单）</a></li>
                                      </ul>
                                </div>
                            </div>
                            
                            <div class="row" style="margin: 10px 0;">
                                <div class="col-md-9">
                                    <label style="width:80px" for="">更新时间</label>
                                    <input id="gengxin_startTime" style="padding-left:8px;line-height: 31px;width: 200px;" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" placeholder="请选择起始日期" onchange="compareGX()">
                                    -
                                    <input id="gengxin_endTime" style="padding-left:8px;line-height: 31px;width: 200px;" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" placeholder="请选择截止日期" onchange="compareGX()">
                                </div>

                                <div class="col-md-3">
                                    <a class="btn btn-success" href="javascript:void(0)"  onclick="query()">
                                        <i class="glyphicon glyphicon-edit icon-white" ></i>
                                        查询
                                    </a>
                                    <a class="btn btn-danger" href="javascript:void(0)" ng-click="clear()">
                                        <i class="glyphicon glyphicon-edit icon-white" ></i>
                                        清空
                                    </a>
                                </div>
                            </div>

                            <div class="row" style="margin: 20px 0;">
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                </div>
                            </div>

                            <!-- <div style="padding-bottom:20px;" class="clearfix">
                                    <select name="" id="" style="font-size:20px;" ng-model="type">
                                        <option value="agent_name">代理人</option>
                                        <option value="customer_name">被保险人</option>
                                    </select>
                                    <input type="text" style="line-height: 31px;width: 200px;padding-left: 8px;" placeholder="请输入查询条件" ng-model="queryStr">    
                                    <a class="btn btn-success" href="javascript:void(0)" ng-click="query()">
                                        <i class="glyphicon glyphicon-edit icon-white" ></i>
                                        查询
                                    </a>
                            </div> -->
                             
                           <!--  <div class="row" style="margin: 10px 0;">
                                <div class="col-md-3">
                                    <div class="dataTables_filter" id="DataTables_Table_0_filter">
                                     <label>时间: <input type="text" aria-controls="DataTables_Table_0" /></label>
                                    </div>
                                </div>
                                <div class="col-md-4" >
                                <div id="DataTables_Table_0_length" class="dataTables_length">
                                    <label>
                                        状态：
                                         <select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                                            <option value="1" selected="selected">保单已递交保险公司</option>
                                            <option value="2">犹豫期计算中</option>
                                         </select> 
                                     </label>
                                </div>
                                </div>
                            </div> -->

                            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                                <thead>
                                <tr>
                                    <th>订单号</th>
                                    <th>UID</th>
                                    <th>代理人</th>
                                    <!-- <th>公司</th> -->
                                    <th>被保险人</th>
                                    <th>产品名称</th>
                                    <th>保费</th>
                                    <th>最新状态</th>
                                    <th>佣金</th>
                                    <th>更新时间</th>
                                    <!-- <th>跟进人</th> -->
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                               
                               

                                <tr ng-repeat="order in orders" ng-class="{'danger':order.expire,'warning':order.warning}">
                                    <td>{{order.id}}<i class="glyphicon glyphicon-bell yellow hide" ng-class="{'show':order.receipt}"></i></td>
                                    <td class="center">{{order.agent_id}}</td>
                                    <td class="center">{{order.agent_name}}</td>
                                    <td class="center">{{order.customer_name}}</td>
                                    <!-- <td class="center">{{order.agent_companyid}}</td> -->
                                    <td class="center">{{order.product_name}}</td>
                                    <td class="center">{{order.baofei}}元</td>
                                    <td class="center">{{order.status}}</td>
                                    <td class="center">{{order.yongjin}}元</td>

                                    <td class="center">{{order.createtime}}</td>
                                    <!-- <td class="center"></td> -->
                                    <td class="center">{{order.firsttime}}</td>
                                    <td>
                                        <a class="btn btn-info" href="#/bianJiDingDan/{{order.id}}">
                                            <i class="glyphicon glyphicon-edit icon-white"></i>
                                            编辑
                                        </a>
                                        
                                    </td>
                                </tr>

                               <!--  <tr>
                                    <td>1461690667869451</td>
                                    <td class="center">7346</td>
                                    <td class="center">余辉</td>
                                    <td class="center">新华</td>
                                    <td class="center">健康一生</td>
                                    <td class="center">
                                        <span class="label-warning label label-default">核保失败</span>
                                    </td>
                                    <td class="center">2016-02-23 12:41:40</td>
                                    <td class="center">村头一霸</td>
                                    <td>
                                        <a class="btn btn-info" href="#">
                                        <i class="glyphicon glyphicon-edit icon-white"></i>
                                        编辑
                                        </a>
                                    </td>
                                </tr> -->

                                </tbody>
                            </table>

                            <div>共 <i class="yellow">{{totalNum}}</i> 条&nbsp;&nbsp;&nbsp;&nbsp;保费共 <i class="red" style="font-size:18px;">{{totalbaofei}}</i>元</div>

                           <!--  <div class="center-block">
                                <div class="dataTables_paginate paging_bootstrap pagination">
                                    <ul class="pagination">
                                        <li class="prev disabled"><a href="#">← Previous</a></li>
                                        <li class="active"><a href="#">1</a></li><li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li><li><a href="#">4</a></li>
                                        <li class="next"><a href="#">Next → </a></li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>

                        </div>
                    </div>
                </div>

            </div>
    
            <script>

                function timeIsTrue(time){
                  if(time ==='' || typeof time === 'undefined'){
                    return false
                  }else{
                    return true
                  }
                }

                function compareTime(startTime,endTime){
                  if(timeIsTrue(startTime)&&timeIsTrue(endTime)){
                    startTime = new Date(startTime+" 00:00:00").getTime()
                    endTime = new Date(endTime+" 23:59:59").getTime()
                    if(startTime>endTime){
                      return false
                    }
                  }
                  return true
                }

                var compareCJ = function(){
                  var chuangjian_startTime = $('#chuangjian_startTime').val()
                  var chuangjian_endTime = $('#chuangjian_endTime').val()
                  if(!compareTime(chuangjian_startTime,chuangjian_endTime)){
                    layer.tips('截止日期应大于起始日期!', '#chuangjian_endTime');
                    $('#chuangjian_endTime').val('')
                  }
                }

                var compareGX = function(){
                  var gengxin_startTime = $('#gengxin_startTime').val()
                  var gengxin_endTime = $('#gengxin_endTime').val()
                  if(!compareTime(gengxin_startTime,gengxin_endTime)){
                    layer.tips('截止日期应大于起始日期!', '#gengxin_endTime');
                    $('#gengxin_endTime').val('')
                  }
                }

                function setStatus(text){
                    $('#status').html(text+' <span class="caret" style="float:right;margin-top:9px;"></span>')
                }
                   

                function query(){
                    var element = angular.element(document.getElementById("content"));
                    var scope = element.scope();
                    scope.query();
                    scope.$apply();
                }
                

                $(function(){
                    document.onkeydown = function(e){ 
                        var ev = document.all ? window.event : e;
                        if(ev.keyCode==13) {
                            query()
                         }
                    }
                });  

                    

                //console log function var window apply call use strict this null document getElementById onclick return alert name Ivy bind Function prototype bind Mary shift slice getName getElementsByTagName Object toString for length
            </script>
