            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="javascript:void(0)">论坛</a>
                    </li>
                    <li ng-hide="opt=='break'">
                        <a href="javascript:void(0)">帖子列表</a>
                    </li>
                    <li ng-show="opt=='break'">
                        <a href="javascript:void(0)">作弊处理</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">{{option}}</a>
                    </li>
                </ul>
            </div>

          

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well">
                            <h2><i class="glyphicon glyphicon-info-sign"></i> {{option}}</h2>

                            <div class="box-icon">
                               
                                <a href="javascript:void(0)" class="btn btn-minimize btn-round btn-default" ng-click="post()" ng-show="opt=='create'"><i
                                        class="glyphicon glyphicon-ok" style="color:#2bd394;"></i></a>
                                <a ng-hide='opt=="break"' href="#/forumList" class="btn btn-close btn-round btn-default" ><i
                                        class="glyphicon glyphicon-remove" style="color: red;"></i></a>
                                <a ng-show='opt=="break"' href="#/breakRuleList" class="btn btn-close btn-round btn-default" ><i
                                        class="glyphicon glyphicon-remove" style="color: red;"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="paper-row row">
                                <div ng-hide="opt=='break'" class="col-md-1" style="padding-right: 0;" >标题:</div>
                                <div ng-show="opt=='break'" class="col-md-1" style="padding-right: 0;" >内容:</div>
                                <div class="col-md-10" style="padding-left: 0;">
                                <textarea name="" id="" cols="30" rows="10" ng-model="title" class="w100"
                                style="border-color:#e0e0e0;" ng-disabled="opt!='create'"></textarea>
                                </div>
                            </div> 

                            <div class="paper-row row" style="display:none;">
                                <div class="col-md-1" style="padding-right: 0;" >内容:</div>
                                <div class="col-md-10" style="padding-left: 0;">
                                <textarea name="" id="" cols="30" rows="10" ng-model="content" class="w100"
                                style="border-color:#e0e0e0;" ng-disabled="opt!='create'"></textarea>
                                </div>
                            </div> 
                            
                            <div class="paper-row row" ng-hide="opt=='break'">
                                <div class="col-md-1" style="padding-right: 0;" >userID:</div>
                                <div class="col-md-10" style="padding-left: 0;"><input ng-model="userid" class="w100" ng-disabled="opt!='create'"></input></div>
                            </div> 



                            

                            <div class="paper-row row" ng-hide="opt!='create'">
                                <div class="col-md-1" style="padding-right: 0;">
                                </div>
                                <div class="col-md-10" style="padding-left: 0;">
                                    <a class="btn btn-success" onclick="upload_postOpt()">
                                        <i class="glyphicon glyphicon-plus icon-white"></i>
                                        上传图片
                                    </a>
                                </div>
                            </div> 

                            <div class="paper-row row" ng-hide="opt!='create'">
                                <div class="col-md-1" style="padding-right: 0;" >图片地址:</div>
                                <div class="col-md-10" style="padding-left: 0;"><input id="parentIframe" class="w100"  ng-disabled="true"></input>
                                </div>
                            </div> 


                            <div class="paper-row row" ng-hide="opt=='create' || imgObjs.length==0">
                                <div class="col-md-1" style="padding-right: 0;" >图片预览:</div>
                                <div ng-repeat="imgObj in imgObjs" class="col-md-3" style="padding-left:0;">
                                    <a href="{{imgObj.url}}" target="_blank"> 
                                        <img src="{{imgObj.thumbnail}}" alt="">
                                    </a>
                                </div>
                            </div> 





                            <div class="paper-title" ng-hide="opt=='create'||opt=='break'">
                               评论列表
                                <div style="float:right;">共 <i class="yellow">{{totalCount}}</i> &nbsp;条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                            </div>

                            <div class="box-content" ng-hide="opt=='create'||opt=='break'">
                                <a class="btn btn-success" href="javascript:void(0)"  ng-click="add()" style="margin-bottom:10px;">
                                    <i class="glyphicon glyphicon-pencil icon-white" ></i>
                                    添加
                                </a>

                                <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>评论内容</th>
                                            <th>userID</th>
                                            <th>用户姓名</th>
                                            <th>是否匿名</th>
                                            <th>日期</th>
                                            <th>时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>

                                    <tbody class="updateUser">
                                        <tr ng-repeat="comment in comments">
                                            <td>{{comment.id}}</td>
                                            <td style="Word-break: break-all;">{{comment.content}}</td>
                                            <td>{{comment.userid}}</td>
                                            <td>{{comment.username}}</td>
                                            <td>{{comment.isanonymous}}</td>
                                            <td>{{comment.date}}</td>
                                            <td>{{comment.time}}</td>
                                            <td>
                                                <a class="btn btn-danger" ng-click="delete(comment.id,comment.userid)">
                                                    <i class="glyphicon glyphicon-trash icon-white"></i>
                                                    删除
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="addComment" class="hide">
                            <div><label for="" style="position: relative;top: -187px;">评论：</label><textarea name="" cols="30" rows="10" ng-model="content_comment" id="content_comment"></textarea></div>
                            <div><label for="">userid:</label><input type="text" ng-model="userid_comment" id="userid_comment"></div>
                            <div><label for="">replyid:</label><input type="text" ng-model="replyid"></div>
                            <div><label for="">匿名:</label><input type="checkbox" name="anonymous" value="1" ng-model="isanonymous"></div>
                            <div style="padding-left:280px;">
                                 <a href="javascript:void(0)" class="btn btn-minimize btn-round btn-default" style="margin-right:10px;" ng-click="addComment()"><i
                                        class="glyphicon glyphicon-ok" style="color:#2bd394;line-height:2;"></i></a>
                                <a href="javascript:void(0)" class="btn btn-close btn-round btn-default" ng-click="cancel()"><i
                                        class="glyphicon glyphicon-remove" style="color: red;line-height:2;"></i></a>
                            </div>
                           
                        </div>
                    </div>
                </div>

            </div>



            <script type="text/javascript">
                function upload_postOpt(){
                    $('parentIframe').val('')

                    layer.open({
                      type: 2,
                      area: ['1000px', '600px'],
                      fix: false, //不固定
                      maxmin: true,
                      content: '../../qiniuUpload/postOpt.html'
                    });
                }
                
                
              
            </script>
    

